// *** Colors ***
$color-dark: #222;

$color-grey: #999;

$color-white: #fff;
$color-white-light: #f1f1f1;

$color-linear-gradient: rgba(0, 0, 0, 0.7); // *** Overlay ***

// *** Fonts ***
$base-family: Verdana, Geneva, sans-serif; // *** Default ***

$Bebas-family: 'Bebas Neue', sans-serif; // *** Examples ***
$Roboto-family: 'Roboto', sans-serif; // *** Examples ***
$Kanit-family: 'Kanit', sans-serif; // *** Examples ***
